.news_tab_item{width: 400px;float: left;position: relative;}
.news_dsj{margin-top: 160px;}
.jj_right{float: right;padding-bottom: 45px;}
.jj_left{float: left;padding-bottom: 45px;}
.qywh_img,.qywh_text{float: left;}
.ielast{clear: both;}
.newcon_move_left,.newcon_move_text,.newcon_move_right{float: left;height: 500px;}
.newcon_move_text_item{float: left;}
.cent{height: 380px;}
.timeSpan{position: relative;bottom: 0;}
.nmt_wrapper{clear: both;}
.ehtmark{height: 100%;float: left;}